/* 设置兼容性 */
 *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
 
/* 背景样式 */
body{
	margin: 0;
	background-image: url(../image/background.jpg);
}
.wrap,.header, .footer{
	width: 100%;
	min-width: 1344px;
	margin:0 auto;
}


/* 头部样式 */
.header{
	height: 200px;
	background-color: #fff;
	font-family: "微软雅黑";
}
.header-top{
	width: 100%;
	height: 150px;
	margin:auto;
	float: left;
}
.green-span, .logo, .enter{
	box-sizing: 150px;
	color: #316745;
	font-size: 12px;
}

/* 头部左边样式 */
.green-span{
	width: 280px;
    position: relative;
    top: 40px;
    left: 90px;
    float: left;
    line-height: 20px;   
}

/* 图标样式 */
.logo{
	width: 400px;
    position: absolute;
    left: 450px;
    text-align: center;
}

.logo h1{
    position: absolute;
    top: 60px;
    left: 40px;
    letter-spacing: 3px;
    padding-left: 25px;
    color: #000;
    font-family: "隶书";
}

/* 登入样式 */
.enter{
    width: 150px;
    position: absolute;
    top: 78px;
    left: 1180px;
    line-height: 40px;
}
.enter a,.other_choice a{
	padding: 0 15px;
	text-decoration: none;
	color: #316745;
}
.enter a:hover{
	font-weight: bold;
}

.enter span{
	border-right: 1px solid #316745;
}

/* 头部-底边样式 */
.header-bottom{
	height: 50px;
	width: 100%;
	margin: auto;
}
.header-bottom nav{
	width: 1100px;
    height: 50px;
    position: absolute;
    top: 150px;
    left: 150px;
    line-height: 50px;
}
.header-bottom a{
	padding: 0 70px;
    font-size: 14px;
    text-decoration: none;
    color: #316745;
}
.header-bottom a:hover{
	font-weight: bold;
}



/* 中间主体样式 */
.middle{
	height: 890px;
	width: 1100px;
	background-color: #d9e7b8;
	margin:16px auto; 
}

/* 选框:地点与时间选框样式 */
.search-box{
	height: 210px;
	width: 100%;
	margin:auto;
	/* border:1px solid #E93C3C; */
}
.search-div{
	box-sizing: 160px;
	margin-top: 40px;
    margin-left: 20px;
	float: left;
	color: #316745;
	text-align: center;
	/* border:1px solid #000;  */
}

.search-div h2{
	margin: 0;
}
.search-div span{
	margin: 0;
	font-size: 8px;
}

.search-div input{
	width: 160px;
	height: 50px;
	margin:10px 0;
	font-size: 30px;
	line-height: 30px;
	color: #a83a00;
	text-align: center;
	/* border:1px solid #e1e7c4; */
	background-color: #f3f9d4;
	box-shadow: inset rgba(225, 231, 196, 0.73) 2px 2px 2px 4px;
    -moz-box-shadow: inset rgba(225, 231, 196, 0.73) 2px 2px 2px 4px;
    -webkit-box-shadow: inset rgba(225, 231, 196, 0.73) 2px 2px 2px 4px;   
}
.fromCity{
	margin-left: 71px;
}
.toCity{
	margin-left: 0;
}
.double_arrow{
	margin-top: 102px;
	margin-left: 0; 
}
.setout_date{
	width: 200px;
	margin-top: 36px;
    margin-left: 64px;
    margin-right: 39px;
}
.setout_date input{
	margin-top: -6px;
	font-size: 16px;
}

.return_date{
	margin-left:25px;
}
.return_date input{
	font-size: 16px;
}

.arrow{
	width: 0;
    height: 0;
    position: relative;
    display: block;
    line-height: 0;
}
.arrow-left{
    top: 28px;
    border-top: 10px solid transparent;
    border-right: 10px solid #316745;
    border-bottom: 10px solid transparent;
} 
.arrow-right {
    top: -45px;
    left: 190px;
    border-top: 10px solid transparent;
    border-left: 10px solid #316745;
    border-bottom: 10px solid transparent;
}

.check_box{
	/* margin-left: 120px; */
    margin-top: 67px;
    padding: 15px 0;
    height: 100px;
    font-size: 14px;
    line-height: 20px;
}
.check_box label{
	/* padding: 15px 0; */
	font-size: 14px;
}
.check_box input{
	margin: 0;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

/* 常用路线与快速选择 */
.choice{
	height: 50px;
    margin-top: -22px;
    margin-left: 62px;
    font-size: 14px;
    float: left;
}
.choice span{
	color: #316745;
	height: 50px;
	font-weight: bold;
}
.choice div{
	margin-left: 72px;
    margin-top: -19px;
}
.choice a{
	color: #a83a00;
	padding: 0 2px;
	text-decoration: none;
}
.choice a:hover{
	font-weight: bold;
	text-decoration:underline;
}
.com_route{
	width: 400px;
    margin-left: 75px;
}

.qui_choice{
	width: 200px;
}

/* 其他选项样式 */
.other_choice{
	height: 60px;
	margin: 10px auto;
}
.other_choice li{
	float: left;
    list-style: none;
    /* padding: 0 33px; */
    margin: 0 63px;
}
.other_choice a{
	font-size: 24px;
}
.arrow-bottom{
	top: 5px;
    left: 49px;
    /* text-align: center; */
    border-left: 10px solid transparent;
    border-top: 10px solid #316745;
    border-right: 10px solid transparent;
}
.arrow-bottom1{left: 25px;}
.arrow-bottom4{left: 41px;}


/* 查询车票按钮 */
.query_btn{
	width: 400px;
	height: 100px;
	margin: 0px 321px;
	font-size: 36px;
	color: #fff;
	line-height: 100px;
	/* 兼容各浏览器 */
	/* 设置圆角 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 0;
	/* 设置按钮阴影 */
	/* -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow:inset -1px -1px 0px 1px rgba(254, 120, 30, 0.47); */

	/* 设置按钮背景渐变颜色 */
	background: linear-gradient(62deg,#ff9f24, 39%,#fe781e);
	background: -moz-linear-gradient(62deg,#ff9f24, 39%,#fe781e);
    background: -webkit-gradient(linear,left,right,from(#ff9f24),color-stop(#fe781e));
    background: -webkit-linear-gradient(62deg,#ff9f24, 39%,#fe781e);
    background: -o-linear-gradient(62deg,#ff9f24, 39%,#fe781e);
    background: -ms-linear-gradient(62deg,#ff9f24, 39%,#fe781e);
}


/* 车票列表信息 */
.list-table{
	width: 1050px;
	height: 410px;
	margin: 22px 26px;
	border-collapse: collapse;
	/* border: 1px solid #eee; */
}
.list-table thead tr th{
	height: 104px;
	padding: 0;
	margin: 0;
	background-color: #316745;
	color: #fff;
	font-size: 15px;
	text-align: center;
	border-right: 3px solid #56956d;
	font-weight: normal;

}

.list-table tbody tr td{
	height: 48px;
	text-align: center;
	border:0;
}
/* 奇数行背景颜色 */
.list-table tbody tr:nth-child(odd){
	background: #efe1b0;
}
.list-table tbody tr:nth-child(even){
	background: #efdb91;
}
.arrow-top{
	top: -12px;
    left: 87px;
	border-left: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-right: 5px solid transparent;
}
.arrow-bottom2{
	top: -10px;
    left: 87px;
	border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
}
.arrow-bottom3{
	top: -10px;
    left: 42px;
	border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
}






/* 底部样式 */
.footer{
	width: 100%;
	height: 68px;
	background-color: #000000;
}
.footer p{
	margin-left: 400px; 
	color: #fff;
	font-size: 14px;
	line-height: 68px;
	text-align: center;
}
